%font-general {
}

.comp-grotesk__text_d16 {
  font-family: ReformaGroteskDemi;
  font-size: 16px;
  @extend %font-general;
}
.comp-grotesk__text_d18 {
  font-family: ReformaGroteskDemi;
  font-size: 18px;
  @extend %font-general;
}
.comp-grotesk__text_d24 {
  font-family: ReformaGroteskDemi;
  font-size: 24px;
  @extend %font-general;
}

.comp-grotesk__title_d52 {
  font-size: 52px;
  font-family: ReformaGroteskDemi;
  @extend %font-general;
}
.comp-grotesk__title_d32 {
  font-size: 32px;
  font-family: ReformaGroteskDemi;
  @extend %font-general;
}
