.achievements {
}

.achievements__content {
  display: flex;
  column-gap: 50px;

  .achievements__text {
    padding: 0 10px 0 0;
    overflow: auto;
    max-height: 720px;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbarColor);
      border-radius: 5px;
    }
    width: calc(50% - 25px / 2);

    .achievements__title {
    }
    .achievements__decoration {
      margin: 40px 0;
    }
    .achievements__content {
      display: flex;
      flex-flow: wrap column;
      row-gap: 40px;
      .achievements__subtitle {
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .achievements__info {
    width: calc(50% - 25px / 2);
    display: flex;
    justify-content: flex-end;

    .achievements__group {
      width: 50%;
      max-width: 320px;
      &:last-child {
        margin: 40px 0 0 0;
        translate: -2px 0;
      }

      .achievements__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap column;
        row-gap: 10px;

        padding: 20px 0;
        width: 100%;
        min-height: 170px;
        border: 2px solid white;
        border-bottom: none;

        &:last-child {
          border-bottom: 2px solid white;
        }

        & > img {
          width: 40px;
          max-height: 45px;
        }
        .achievements__title {
          color: var(--primaryRed);
          span {
            font-size: 52px;
          }
        }
        .achievements__subtitle {
          max-width: 80%;
          text-align: center;
        }
      }
    }
  }
}
