@font-face {
  font-family: ReformaGroteskMedium;
  src: url('../../fonts/ReformaGroteskMediumC.ttf');
  font-weight: 400;
}
@font-face {
  font-family: ReformaGroteskDemi;
  src: url('../../fonts/ReformaGroteskDemiC.ttf');
  font-weight: 400;
}
