@font-face {
  font-family: ReformaGroteskMedium;
  src: url('@/../public/fonts/ReformaGroteskMediumC.ttf');
  font-weight: 400;
}
@font-face {
  font-family: ReformaGroteskDemi;
  src: url('@/../public/fonts/ReformaGroteskDemiC.ttf');
  font-weight: 400;
}
